body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

#root {
  background: url("https://wallpaperaccess.com/full/287027.jpg")
}

.container {
  display: flex;
  justify-content: space-between;
  text-align-last: center;
  overflow-y: scroll;
  max-height: 100vh;
}

img.bey-image {
  max-height: 200px;
  max-width: 100%;
  transition: opacity 1s;
}

.bey-card {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  margin-bottom: 10px;
  color: white;
  width: 45vw;
}

.bey-card > h3 {
  transition: font-size 1s;
  max-width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.bey-card:hover > img {
  opacity: 0.5;
}

.bey-card:hover > h3 {
  font-size: 1.75em;
  text-align: center;
}