body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

#root {
  background: url("https://wallpaperaccess.com/full/287027.jpg")
}

.container {
  display: flex;
  justify-content: space-between;
  text-align-last: center;
  overflow-y: scroll;
  max-height: 100vh;
}